<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SMART PAPER</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/submitpaper.css" type="text/css" />
    <link rel="stylesheet" href="../layui/css/layui.css">
    <style>
        body{
            background: url("../images/loginbg.jpg") no-repeat 0 0;
            background-size: cover;
        }
        h4{
            color: black!important;
            font-size: large;
        }
    </style>
</head>
<body>
<section class="content">
    <div class="content-header clearfix">
        <!-- 当前默认显示登陆界面-->
        <b style="font-size: large">稿件内容</b>
    </div>

    <div class="content-body">
        <div class="dom" style="display: block;">
            <div class="s1">
                <input type="text" th:value="${cH_article.id}" style="display: none" class="Aid"></input>
                <h4>标题：<span th:text="${cH_article.title}" style="font-size: large; color: crimson"></span></h4>
            </div>
            <div class="s1">
                <h4>作者：<span th:text="${cH_article.authors}" style="font-size: large; color: crimson"></span></h4>
            </div>
            <div class="s1" style="height: 20rem">
                <h4>摘要：<span th:text="${cH_article.abstractText}" style="font-size: medium; color: crimson"></span></h4>
            </div>
            <div class="s1">
                <h4>关键词：<span th:text="${cH_article.keywords}" style="font-size: large; color: crimson"></span></h4>
            </div>
            <div style="text-align: center">
                <a th:href="@{'/fileDownload?articleID='+${cH_article.id}}" style="text-decoration: none;
                    color: #1E9FFF; font-size: large; font-weight: bold">稿件下载</a>
            </div>
            <br><br>
        </div>
    </div>
</section>

<section class="content">
    <div class="content-header clearfix">
        <!-- 当前默认显示登陆界面-->
        <b style="font-size: large">审核流程状态</b>
    </div>

    <div class="content-body">
        <div class="dom" style="display: block;">
            <div class="s1">
                <h4>当前状态:  <span style="font-size: large; color: crimson">终审</span></h4>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="content-header clearfix">
        <!-- 当前默认显示登陆界面-->
        <b style="font-size: large">初审意见</b>
    </div>

    <div class="content-body">
        <div class="dom" style="display: block;">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="250">
                    <col width="150">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>初审编辑ID</th>
                    <th>初审意见</th>
                    <th>意见类型</th>
                    <th>评价时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review:${CS_reviews}">
                    <td th:text="${review.id}"></td>
                    <td th:text="${review.reviewerId}"></td>
                    <td th:text="${review.content}"></td>
                    <td th:text="${review.type}"></td>
                    <td th:text="${review.createTime}"></td>
                </tr>
                <tr th:each="review:${CSCS_reviews}">
                    <td th:text="${review.id}"></td>
                    <td th:text="${review.reviewerId}"></td>
                    <td th:text="${review.content}"></td>
                    <td th:text="${review.type}"></td>
                    <td th:text="${review.createTime}"></td>
                </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</section>
<section class="content">
    <div class="content-header clearfix">
        <!-- 当前默认显示登陆界面-->
        <b style="font-size: large">外审意见</b>
    </div>

    <div class="content-body">
        <div class="dom" style="display: block;">
            <table class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="250">
                    <col width="150">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>外审专家ID</th>
                    <th>外审意见</th>
                    <th>意见类型</th>
                    <th>评价时间</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="review:${WS_reviews}">
                    <td th:text="${review.id}"></td>
                    <td th:text="${review.reviewerId}"></td>
                    <td th:text="${review.content}"></td>
                    <td th:text="${review.type}"></td>
                    <td th:text="${review.createTime}"></td>
                </tr>
                <tr th:each="review:${WSCS_reviews}">
                    <td th:text="${review.id}"></td>
                    <td th:text="${review.reviewerId}"></td>
                    <td th:text="${review.content}"></td>
                    <td th:text="${review.type}"></td>
                    <td th:text="${review.createTime}"></td>
                </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</section>

<section class="content">
    <div class="content-header clearfix">
        <!-- 当前默认显示登陆界面-->
        <b style="font-size: large">主编外审意见</b>
    </div>

    <div class="content-body">
        <div class="dom" style="display: block;">
            <div class="s1" style="height: 10rem">
                <textarea placeholder="主编请输入审稿意见" class="ed_content"></textarea>
            </div>
            <br><br>
        </div>
    </div>
</section>

<div style="text-align: center">
    <button type="button" class="layui-btn layui-btn-danger" id="tg_btn">退稿</button>
    <button type="button" class="layui-btn layui-btn-warm" id="tx_btn">退修</button>
    <button type="button" class="layui-btn layui-btn-normal" id="ac_btn">通过</button>
</div>
<br><br>
<script src="../layui/layui.js"></script>
<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
<script>
    layui.use(['layer'], function() {
        var layer = layui.layer;

        $(function (){
            var articleID = $(".Aid").val();
            var ZS_content;

            $("#ac_btn").click(function (){
                ZS_content = $(".ed_content").val();
                $.ajax({
                    url: "/chiefAccept",
                    type: "post",
                    data: {
                        "articleID": articleID,
                        "ZS_content": ZS_content,
                    },
                    success: function (data) {
                        if(data==="success"){
                            layer.alert('审核成功', {icon:1}, function (){
                                window.location.href="/chiefOnline";
                            });
                        }else{
                            layer.alert('审核失败', {icon:2}, function (){
                                window.location.href="/chiefOnline";
                            });
                        }
                    }
                });
            });

            $("#tg_btn").click(function (){
                ZS_content = $(".ed_content").val();
                $.ajax({
                    url: "/chiefRejection",
                    type: "post",
                    data: {
                        "articleID": articleID,
                        "ZS_content": ZS_content,
                    },
                    success: function (data) {
                        if(data==="success"){
                            layer.alert('退稿成功', {icon:1}, function (){
                                window.location.href="/chiefOnline";
                            });
                        }else{
                            layer.alert('退稿失败', {icon:2}, function (){
                                window.location.href="/chiefOnline";
                            });
                        }
                    }
                });
            });

            $("#tx_btn").click(function (){
                ZS_content = $(".ed_content").val();
                $.ajax({
                    url: "/chiefRevision",
                    type: "post",
                    data: {
                        "articleID": articleID,
                        "ZS_content": ZS_content,
                    },
                    success: function (data) {
                        if(data==="success"){
                            layer.alert('退修成功', {icon:1}, function (){
                                window.location.href="/chiefOnline";
                            });
                        }else{
                            layer.alert('退修失败', {icon:2}, function (){
                                window.location.href="/chiefOnline";
                            });
                        }
                    }
                });
            });
        });
    });
</script>
</body>
</html>